<div class="pagination">
    <div class="pagination__container">
        <% if (data.hasPreviousPage) { %>
            <a href="?page=<%= data.previousPage %>" class="pagination__btn pagination__btn--prev">
                ← Anterior
            </a>
            <% } %>

                <div class="pagination__numbers">
                    <% pageNumbers.forEach(num=> { %>
                        <a href="?page=<%= num %>"
                            class="pagination__number <%= num === currentPage ? 'pagination__number--active' : '' %>">
                            <%= num %>
                        </a>
                        <% }) %>
                </div>

                <% if (data.hasNextPage) { %>
                    <a href="?page=<%= data.nextPage %>" class="pagination__btn pagination__btn--next">
                        Siguiente →
                    </a>
                    <% } %>
    </div>

    <p class="pagination__info">
        Página <strong>
            <%= currentPage %>
        </strong> de <strong>
            <%= config.totalPages %>
        </strong>
    </p>
</div>